[flake8]
select = B,C,E,F,W,T4,B9
ignore = E203, E266, E501, E701, E704, W503, B905, B907
max-line-length = 80
max-complexity = 18
docstring-convention = google
per-file-ignores = tests/*:S101
rst-roles = class,const,func,meth,mod,ref
rst-directives = deprecated